.container {
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: 100vh;
  background: #0c1417;
  h2 {
    margin: 0;
    padding: 0;
  }
}
.content {
  display: flex;
  position: relative;
}
.content1 {
  position: absolute;
  width: 308px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  left: 10%;
  top: 70px;
  background-image: url(../public/image/jump.jpg);
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
}
.content2 {
  position: absolute;
  width: 307px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  top: 100px;
  left: 31%;
  background-image: url(../public/image/weights.jpg);
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
}
.content3 {
  position: absolute;
  top: 150px;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  z-index: 2;
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
  }
  p {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}
.arrowDawn {
  z-index: 3;
  position: absolute;
  bottom: 61px;
  margin: 0 auto;
  &:hover {
    stroke: #f7931e;
  }
}
button {
  position: relative;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  color: rgb(185, 172, 172);
  width: 280px;
  height: 60px;
  background-color: #0c1417;
  border: 1px solid #fff;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-decoration: none;
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #f7931e;
    color: #fff;
    transition: all ease-in 0.1s 0.1s;
    box-shadow: 0px 5px 5px 0px #F7931E;
  }
}
button::before {
  content: 'Получить консультацию';
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 35px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  top: 550px;
  left: 10%;
  .icon {
    position: relative;
    display: grid;
    grid-template-columns: 60px 200px;
    align-items: center;
    justify-content: start;
    margin: 20px;
    cursor: pointer;
    span {
      margin-left: 5px;
    }
  }
  // .icon::after{

  //   position: absolute;
  //   top: 110%;
  //   content: "";
  //   border-bottom: 2px solid #f7931e;
  //   width: 100%;

  //   transition: background-size .1s;
  //   &:hover{
  //     opacity: 1;
  //   }
  // }
}

@media screen and(max-width: 1440px) {
  .content1 {
    width: 308px;
    height: 432px;
    left: 10%;
    top: 50px;
  }
  .content2 {
    width: 307px;
    height: 432px;
    top: 80px;
    left: 35%;
  }

  .content3 {
    top: 100px;
    left: 60%;
    width: 400px;
    h3 {
      font-size: 30px;
    }
  }
  .icons {
    top: 550px;
  }
}
@media screen and(max-width: 1024px) {
  .content1 {
    width: 308px;
    height: 432px;
    left: 3%;
    top: 30px;
  }
  .content2 {
    width: 308px;
    height: 432px;
    top: 70px;
    left: 35%;
  }

  .content3 {
    top: 90px;
    left: 67%;
    width: 300px;
    h3 {
      font-size: 26px;
    }
  }
  .icons {
    grid-template-columns: 20px 100px;
    gap: 0;
    left: 0;
    .icon{
      margin: 5px;
    span {
      
      width: 120px;
    }
  }
}
}
@media screen and(max-width: 768px) {
  .content {
    display: flex;
    position: relative;
  }
  .content1 {
    width: 308px;
    height: 432px;
    left: 7%;
    top: 250px;
    width: 315px;
    height: 480px;
  }
  .content2 {
    width: 307px;
    height: 432px;
    top: 250px;
    left: 53%;
    width: 315px;
    height: 480px;
  }

  .content3 {
    top: -30px;
    left: 10%;
    display: flex;
    align-items: center;
    width: 80%;
    button {
      margin-top: 10px;
    }
    h3 {
      font-size: 26px;
      margin: 15px 10px;
    }
    p {
      text-align: center;
    }
  }
}
