.container {
  position: relative;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  background: #0c1417;
  h2 {
    margin-bottom:  10px;
    padding: 0;
    font-size: 1em;
    font-weight: 700;
    font-size: 30px;
  }
}
.arrowDawn {
  z-index: 3;
  position: absolute;
  bottom: 61px;
  margin: 0 auto;
  &:hover {
    stroke: #f7931e;
  }
}

.content1 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
  content: '';
  width: 32%;
  height: 56px;
  left: -180px;
  bottom: 25%;
  background:#f7931e;
  transform: rotate(51.99deg) skewX(-40deg);
}
.content2 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 3;
  bottom: 25%;
  left: -200px;
  content: '';
  border: 1px solid #fff;
  width: 23%;
  height: 34.46px;
  transform: rotate(51.99deg) skewX(-40deg);
}