.header {
  display: flex;
  
  width: 100%;
  position: relative;
  z-index: 5;
  align-items: center;
  .logo {
    background-image: url(../public/image/logo.png);
    width: 230px;
    height: 106px;
    margin-top: 20px;
    margin-left: 40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .menu{
    flex: 1 50%;
    margin-top: 40px;
    margin-left: 70px;
    ul{
      display: flex;
      gap: 35px;
      font-size: 28px;
    }
    
    a {
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .1s;
      &:hover {
      background-size: 100% 2px;
      }
  }
  
  
    
  }
  .phone {
    margin-top: 60px;
    margin-right: 50px;
  }
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  a:hover {
    color: #f7931e;
    transition: all ease-in 0.5s 0.5s;
  }
}

.content0 {
  content: '';
  width: 100%;
  height: 0px;
  border: solid 1px #f7931e;
  opacity: 0.2;
}



.containerMain {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-image: url(../public/image/background.png);

  position: relative;
}
.containerMain::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.content1 {
  position: absolute;
  width: 220px;
  height: 130px;
  background-repeat: no-repeat;
  z-index: 2;
  top: 0px;
  right: 20%;
  background-image: url(../public/image/rectangleTop1.png);
}
.content2 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 3;
  top: -10px;
  right: 25%;
  content: '';
  border: 1px solid #fff;
  width: 232.1px;
  height: 34.46px;
  transform: rotate(51.99deg) skewX(-40deg);
}
.content3 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 3;
  top: 60%;
  left: -120px;
  content: '';
  background-color: #f7931e;
  width: 400px;
  height: 52px;
  transform: rotate(51.99deg) skewX(-40deg);
}

.content4 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 3;
  top: 80%;
  left: -90px;
  content: '';
  border: 1px solid #fff;
  width: 17%;
  height: 55.58px;
  transform: rotate(51.99deg) skewX(-40deg);
}
.content5 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
  content: '';
  width: 37%;
  height: 115.54px;
  left: -180px;
  top: 74%;
  background: rgba(12, 20, 23, 0.8);
  transform: rotate(51.99deg) skewX(-40deg);
}

.title {
  margin: 100px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 80px;
  }
  p {
    font-weight: 500;
    font-size: 40px;
  }
  button {
    position: relative;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    color: rgb(185, 172, 172);
    width: 280px;
    height: 60px;
    background: #f7931e;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    text-decoration: none;
    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      background-color: #c06804;
      color: #fff;
      transition: all ease-in 0.1s 0.1s;
    }
  }
  button::before {
    content: 'Получить консультацию';
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 35px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
  }
  button::after {
    width: 280px;
    height: 60px;
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    border: 1px solid #ffffff;
  }
}
.insta {
  position: absolute;
  z-index: 3;
  width: 22px;
  height: 22px;
  bottom: 61px;
  right: 108px;
  &:hover {
    stroke: #f7931e;
  }
}

.vk {
  z-index: 3;
  position: absolute;
  width: 30px;
  height: 18px;
  bottom: 61px;
  right: 61px;
  &:hover {
    stroke: #f7931e;
  }
}
.arrowDawn {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  bottom: 61px;
  margin: 0 auto;
  &:hover {
    stroke: #f7931e;
  }
}
@media screen and(max-width: 1024px) {
  
  .header{
   .phone{
    margin-top: 50px;
    margin-right: 20px;
  } 
  }
  .title {
    margin: 70px;
    h1 {
      font-weight: 600;
      font-size: 70px;
    }
    p {
      font-weight: 400;
      font-size: 35px;
    }
  }
}
@media screen and(max-width: 768px) {
  .header {
    .menu{
      margin-left: 5px;
      ul{
        gap: 15px;
      }
      
    }
    nav {
      margin-top: 30px;
      flex-wrap: wrap;
      
      li {
        margin-left: 5px;
      }
    }
    .logo {
      margin-top: 0px;
      margin-left: 15px;
      width: 300px;
      height: 66px;
    }
    .phone {
      margin: 30px 5px 0px 5px;
    }
  }
  .title {
    margin: 50px;
    h1 {
      font-weight: 600;
      font-size: 60px;
    }
    p {
      font-weight: 400;
      font-size: 25px;
    }
  }

  .content4 {
    display: none;
  }
  .content5 {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .header {
    nav {
      flex-wrap: wrap;
    }
  }
  .title {
    margin: 30px;
    h1 {
      font-weight: 500;
      font-size: 50px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
    }
  }

  .logo {
    width: 140px;
    height: 56px;
  }
  .content1 {
    display: none;
  }
  .content2 {
    display: none;
  }
  .content3 {
    display: none;
  }
  .content4 {
    display: none;
  }
  .content5 {
    display: none;
  }
}
@media (max-width: 480px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    
    .logo{
      margin: 20px;
    }
  .menu{
    position: absolute;
    width: 200px;
    top: 30px;
    gap: 5;
    right: 40px;
    margin-top: 20px;
    margin-left: 10px;
    background-color:#c1741c;
    border-radius: 40px 0 0 40px ;
    opacity: 0.7;
    ul{
      display: flex;
      flex-direction: column;
      font-size: 18px;
      li{
        border-bottom: 1px solid ;

      }
    }
  }
  .phone {
    display: none;
  }
  

  .burgerBtn {
    width: 20px;
    height: 20px;
    z-index: 7;
    position: relative;
    
    &:hover{
      color:#f7931e;
    }
  }

  .burgerBtn::before {
    content: '';
    position: absolute;
    background-color: #fff;
    right: -180px;
    top: 0px;
    width: 30px;
    height: 2px;
  }
  .burgerBtn {
    span {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 10px;
      right: -180px;

      width: 30px;
      height: 2px;
    }
  }
  .burgerBtn::after {
    content: '';
    position: absolute;
    background-color: #fff;
    top: 20px;
    right: -180px;
    width: 30px;
    height: 2px;
  }
}
.title {
    margin-top: 150px;
}
}