.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: none;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.activeModal {
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(121, 113, 113, 0.5);
  z-index: 10;
  pointer-events: none;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
}
.popup {
  position: relative;
  left: 0;
  top: 0;
  width: 600px;
  height: 500px;
  
  background-color: #0c1417;
  color: rgb(247, 231, 231);
  font-weight: 500;
  padding: 25px;
  border-radius: 15px;


  .top {
    display: flex;
    justify-content: flex-end;
    .close {
      svg {
        cursor: pointer;
      }
    }
    .logo {
      background-image: url(../public/image/logo.png);
      width: 230px;
      height: 106px;
      position: absolute;
      top: -10px;
      left: 0;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    p{
      margin-left: 20px;
        font-weight: 600;
        font-size: 20px;
    }
    .contentTop {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        margin-left: 20px;
        font-weight: 700;
        font-size: 30px;
      }
    }
    .contentCenter{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
        font-weight: 500;
        font-size: 16px;
        span{
          margin: 10px 15px;
        }
    }
  }
  .contentBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      margin: 20px;
    }
  }
}

// .content1 {
//   position: absolute;
//   background-repeat: no-repeat;

//   content: '';
//   width: 25%;
//   height: 66px;
//   left: 0px;
//   bottom: 25%;
//   background: #f7931e;
//   transform: rotate(51.99deg) skewX(-40deg);
// }
// .content2 {
//   position: absolute;
//   background-repeat: no-repeat;

//   bottom: 25%;
//   left: 0px;
//   content: '';
//   border: 1px solid #fff;
//   width: 15%;
//   height: 54px;
//   transform: rotate(51.99deg) skewX(-40deg);
// }
